<header class="header header-4">
    <div class="branding">
        <a href="/home" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Network of Giving</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="/reasons-to-give-to-charity" class="nav-link nav-text">Why to give to charity</a>
    </div>
    <div class="header-actions">
        <div class="header-nav">
            <a href="/create" class="active nav-link"><span class="nav-text">Create charity</span></a>
        </div>
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="/login" clrDropdownItem>Log In</a>
                <a href="/sign-up" clrDropdownItem>Sign Up</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>

<h1 class="mat-display-1"> THREE REASONS TO GIVE TO CHARITY</h1>

<div>
    <h2 class="mat-display-1"> 1 GIVING TO CHARITY MAKES YOU FEEL GOOD</h2>
    <p></p>
    <div class="clr-row">
        <div class="clr-col-sm-4">
            <span><b>Donating to charity is a major mood-booster.</b> The knowledge that you’re helping others is hugely empowering and, in turn, can make you feel happier and more fulfilled. Research has identified a link between making a donation to charity and increased activity in the area of the brain that registers pleasure - proving that as the old adage goes, it really is far better to give than to receive.</span>
        </div>
        <!-- <div class="clr-col-sm-6 clr-offset-sm-2">
            <span><img src="../../../feel_good.jpg"></span>
        </div> -->
    </div>
</div>

<div>
    <h2 class="mat-display-1"> 2 GIVING TO CHARITY STRENGTHENS PERSONAL VALUES</h2>
    <p></p>
    <div class="clr-row">
        <div class="clr-col-sm-4">
            <span><b></b>
                In our research, Why we give, a feeling of social conscience was the most widely-given reason to give to charity. Whatever type of charity work they supported, 96% said they felt they had a moral duty to use what they had to help others, a sentiment very much rooted in their personal values and principles.
                <p></p>
                Having the power to improve the lives of others is, to many people, a privilege, and one that comes with its own sense of obligation. Acting on these powerful feelings of responsibility is a great way to reinforce our own personal values and feel like we’re living in a way that is true to our own ethical beliefs.
            </span>
        </div>

        <div class="clr-col-sm-6 clr-offset-sm-2">
            <img class="image" src="../../../create_charity.jpg" />
        </div>
    </div>
</div>


<div>
    <h2 class="mat-display-1"> 3 GIVING IS MORE IMPACTFUL THAN EVER</h2>
    <p></p>
    <div class="clr-row">
        <div class="clr-col-sm-4">
            <span><b></b>
                Many people are concerned that their donations to charity may be reduced by tax or administrative costs, preventing the full amount from reaching the people or causes they really want to help. Thankfully there are ways to make the most of every donation to charity.
                <p></p>
                If you’re a UK taxpayer, you can boost the amount of every donation you make by giving through Gift Aid, an Income Tax relief created to help charities get the most out of the funds they receive. As Gift Aid enables the charity to recover the basic rate of tax on your donation, the scheme adds 25p to each £1 you give at no extra cost to you.
                <p></p>
                There are many other ways to give to charity tax-effectively too, such as by donating straight from your salary before tax is deducted through a payroll giving scheme, donating shares to charity or leaving a charitable legacy in your Will. These methods of giving ensure your chosen charities benefit as much as possible from your support.
            </span>
        </div>
        <div class="clr-col-sm-6 clr-offset-sm-2">
            <span><img src='../../../create_charity.jpg'></span>
        </div>
    </div>
</div>